.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;

  /* because it is a header appl z-index 1 so taht it will alwasy be at the top*/
  z-index: 1;

  justify-content: space-between;
  display: flex;
  /* to divide both images ; one to right and other to left */

  /*  The animation code is*/

  transition-timing-function: ease-in;
  /* add transition slowly here popping up black background */
  transition: all 0.5s;
  /* add transition to every changes whether or not width changes etc */
}
.nav_black {
  background-color: #111;
}
.nav_logo {
  /* when you minimise screen ,avatar will be missing so to deal with that we haev to set positon fixed   */
  /* position: fixed; */
  left: 20;
  /* move 20px from left */

  width: 190px;
  object-fit: contain;
}
.nav_avatar {
  position: right;
  padding-right: 40px;

  width: 30px;
  object-fit: contain;
}
